
<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{ partial "head.html" . }}
    <body>
	{{ partial "notification.html" . }}

	<section class="hero is-info is-medium">
	    {{- partial "header-hero.html" . }}
	    <div class="hero-body has-text-centered">
		<h1 class="title is-1 is-spaced">{{ .Title }}</h1>
		<p class="subtitle is-4">{{ .Params.author }} &mdash; {{ .Date.Format "Monday, Jan 2, 2006" }}</p>
	    </div>
	</section>

	<section class="section">
	    <div class="container">
		<div class="columns">

		    <article class="column is-three-quarters has-sidebar">
			<div class="content is-medium">
			    {{ .Content }}
			</div>
		    </article>

		    <div class="column is-one-quarter">
			{{ partial "sidebar.html" . }}
		    </div>

		</div><!-- .columns -->
	    </div>
	</section>

{{ partial "footer.html" . }}
