
<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}
<body>
    {{- partial "notification.html" . }}

{{ if .IsHome }}
    <!-- HERO TO BE SHOWN ON MOBILE -->
    <section class="hero is-info is-small is-hidden-tablet" id="hero">
	<div class="hero-header">
	    <nav class="nav">
		<div class="container">
		    <div class="nav-left">
			<a href="{{ .Site.BaseURL }}" class="nav-item">
			    <h1 class="title is-3">{{ .Title }}</h1>
			</a>
		    </div>
		    <span class="nav-toggle" data-target="#main-menu">
			<span></span>
			<span></span>
			<span></span>
		    </span>
		    <div class="nav-right nav-menu" id="main-menu">
			<a href="/#about" class="nav-item">About</a>
			<a href="/#projects" class="nav-item">Projects</a>
			<a href="/#articles" class="nav-item">Articles</a>
			<a href="/#contact" class="nav-item">Contact</a>
		    </div>
		</div>
	    </nav>
	</div>
	<div class="hero-body">
	    <div class="container has-text-centered">
		<h3 class="subtitle is-4">{{ .Site.Params.subtitle }}</h3>
		{{ partial "social.html" . }}
	    </div>
	</div>
    </section>
    <!-- HERO TO BE SHOWN ON MOBILE -->

    <!-- HERO TO BE SHOWN ON EVERYTHING ELSE -->
    <section class="hero is-info is-fullheight is-hidden-mobile" id="hero">
	<div class="hero-body">
            <div class="container has-text-centered">
		<h1 class="title is-1 is-hidden-mobile">{{ .Title }}</h1>
		<h3 class="subtitle is-4">{{ .Site.Params.subtitle }}</h3>
		{{ partial "social.html" . }}
            </div>
	</div>
	<div class="hero-foot">
	    <nav class="tabs is-boxed is-fullwidth">
		<div class="container">
		    <ul>
			<li><a href="#about">About</a></li>
			<li><a href="#projects">Projects</a></li>
			<li><a href="#articles">Articles</a></li>
			<li><a href="#contact">Contact</a></li>
		    </ul>
		</div>
	    </nav>
	</div>
    </section>
    <!-- HERO TO BE SHOWN ON EVERYTHING ELSE -->

{{ else }}

    <!-- HERO TO BE SHOWN ON EVERYTHING -->
    <section class="hero is-info is-small" id="hero">
	<div class="hero-head">
	    <header class="nav">
		<div class="container">
		    <div class="nav-left">
			<a href="/" class="nav-item">
			    <h1 class="title is-3">{{ .Site.Title }}</h1>
			</a>
		    </div>
		    <span class="nav-toggle" data-target="#main-menu">
			<span></span>
			<span></span>
			<span></span>
		    </span>
		    <div class="nav-right nav-menu" id="main-menu">
			<a href="/#about" class="nav-item">About</a>
			<a href="/#projects" class="nav-item">Projects</a>
			<a href="/article/" class="nav-item">Articles</a>
			<a href="/#contact" class="nav-item">Contact</a>
		    </div>
		</div>
	    </header>
	</div>

	<div class="hero-body has-text-centered">
	    <h1 class="title is-1 is-spaced">{{ .Title }}</h1>
	    {{ if eq .Type "article" }}
	    <p class="subtitle is-4">{{ .Params.author }} &mdash; {{ .Date.Format "Monday, Jan 2, 2006" }}</p>
	    {{ end }}
	</div>
    </section>
    <!-- HERO TO BE SHOWN ON EVERYTHING -->

{{ end }}
