{{ partial "header.html" . }}

    <section class="section section-bordered" id="about">
	<div class="container">
	    <h3 class="title is-2 has-text-centered">About</h3>

	    <div class="columns">
		<div class="column is-one-third has-text-centered">
		    <img class="img-responsive" src="{{ .Site.Params.avatar }}" alt="Me" />
		</div>

		<div class="column content">
		    {{- range first 1 (where .Data.Pages "Title" "about") }}
		    {{ .Content }}
		    {{- end }}
		</div>
	    </div>
	</div>
    </section>

    <section class="section section-bordered" id="projects">
	<div class="container">
	    <h3 class="title is-2 has-text-centered">Projects</h3>
	    {{ partial "projects.html" . }}
	</div>
    </section>

    <section class="section section-bordered" id="articles">
	<div class="container">
	    <h3 class="title is-2 has-text-centered">Latest Article</h3>
	    <div class="home-squeeze">
		{{- range first 1 (where .Data.Pages.ByPublishDate "Section" "article") }}
		{{- partial "article.html" . }}
		{{- end }}
	    </div>

	    <div class="home-sqeeze has-text-centered">
		<a class="button is-info is-medium" href="{{ .Site.BaseURL }}/article/">Browse All Articles</a>
	    </div>
	</div>
    </section>

    <section class="section" id="contact">
	<div class="container contact-home">
	    <h3 class="title is-2 has-text-centered">Contact</h3>
	    <div class="content is-medium">
		{{- range first 1 (where .Data.Pages "Title" "contact") }}
		{{ .Content }}
		{{- end }}
	    </div>
	</div>
    </section>

{{- partial "footer.html" . }}
